{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/chessboard.css') }}"
     type= "text/css">
     

{% endblock %}

{% block body %}

<div class="container-fluid  mine">


    <div class="row justify-content: left;">
        <h3> Player VS Engine </h3>
    </div>
    
    <div class="row">
        <div id="board" style="width: 400px"></div>
    </div>
    
    <br>
    
        <div class="row">
        
        
            <button type="button" class="btn btn-outline-dark"
            id="resetBtn" onclick="reset_board()">Reset Game</button>
        
        </div>
   
    <span id="starting_fen" style="display:none">{{starting_fen}}</span>
    <span id="first_moves" style="display:none">{{first_moves}}</span>

</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/chessboard-1.0.0.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/versusplay.js') }}"></script>


{% endblock %}